@model Product

<div class="card">
    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5ca3bcd5fb22a5462fe2008f/1626963019073-7D7ZHP5XFUGUNTOZP8NN/WisphoneBasic_Model3.png?format=1000w" alt="Alternate Text" />
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <a href="#" class="btn btn-primary">Incele</a>
    </div>
</div>