
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductList</title>
</head>
<body>
    <div> 
       Product/ProductList

    </div>
</body>
</html>
